/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,200&family=Handjet:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 255, 255);
    color: rgb(94, 74, 227);
    font-family: 'DM Sans' sans-serif;

}

header {
    background-color: rgb(113, 137, 255);
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 50px;
    padding: 0 20px;

}

header a {
    text-decoration: none;
    color: rgb(255, 255, 255);

}

 #logo {
    font-size: 135%;
    font-weight: bold;
    align-items: center;
    display: flex;
}

ul {
    list-style-type: none;
    height: 100%;
    display: flex;
    justify-content: space-around;
}

ul li {
    padding: 5px;
    margin-left: 10px;
    margin-top: 15px;
}


#hamburger-icon {
    margin: auto 0;
    display: none;
    cursor: pointer;
}


#hamburger-icon div {
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.5s;
}

.open .bar1 {
    -webkit-transform: rotate(-45deg); translate: (-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);

}

.open .bar2 {
    opacity: 0;
}

.open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, 8px);
    transform: rotate(45deg) translate(-6px, -8px);
}

.mobile-menu {
     display: none;
     position: absolute;
     top: 50px;
     left: 0;
     height: calc(100vh - 50px);
     width: 100%;
}

@media only screen and (max-width: 768px) {
    header nav {
        display: none;
        
    }

    #hamburger-icon {
        display: block;
    }

}